.custom-image img {
  display: block;
}
.custom-card {
  padding: 10px 16px;
  position: absolute;
  top: 15vh;
}

.weather-city {
  position: absolute;
  top: 2vh;
  right: 2vw;
}

#weather .ant-card {
  cursor: pointer;
}

.weatherChart {
  width: 100%;
  height: 65vh;
}
